*{
    font-family:"Courier New";
}
header{
    background-color: #666;
    padding: 30px;
    color: white;
    text-align: right;
    }

footer {
}

body {
    background-color: white;
}

header{
}

