*{
    font-family:"Courier New";
}
header{
    background-color: #666;
    padding: 30px;
    }
ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.header {
    float: left;
}
nav{
    text-align: center;
    font-size: 20px;

}

ul.nav {
    list-style-type: none;
    overflow: hidden;
}

li.nav{
    display: inline;
    margin-right: 40px;
}

footer {
}

body {
    background-color: white;
}

header{
}

.videoLink {
    border-style: groove;
    border-color: floralwhite;
    border-radius: 5px;
    float: left;
    margin: 1%;
    padding: 1%;
    height: 10%;
    width: 15%;
}

#videooverview{
    margin-left: 25%;
    width: 50%;
}

