#commentSection{
    background-color: whitesmoke;
}
.comment{
    margin: auto;
    font-size: small;
    background-color: whitesmoke;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 1%;
    border-bottom: 1px solid lightgrey;
}

#videoArea{
    width:  800px;
    margin: auto;
    margin-top: 5%;
    background-color: black;
    -webkit-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
}

#createCommentArea{
    margin: auto;
    font-size: x-small;
    background-color: whitesmoke;
}

#videoInfo{
    margin: auto;
    font-size: x-small;
    background-color: whitesmoke;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 1px solid grey;
}

#submitCommentDiv{
    border-bottom: 1px solid lightgrey;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
}

#inputMessage{
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    background-color: whitesmoke;
    border-bottom-style: groove;
    width: 70%;
    min-height: 50px;
    padding-bottom: 0px;
    height: 2%;
    width: 80%;
}

#submitCommentButton{
    float: right;
    background-color: grey;
    cursor:pointer;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration:none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}